<!doctype html>
<html lang="en" data-theme="retro" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <title>{{ title }}</title>
    {% set css %}
    {% include "src/styles/index.css" %}
    {% endset %}
    <style>
      {{css | postcss | safe}}
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
  </head>
  <body class="h-100">
    <div class="w-full px-4 mx-auto md:w-2/3 md:px-0">
      {% include "src/_includes/partials/_header.njk" %}
      <main class="w-full max-w-full prose pt-14">
        {{ content | safe }}
      </main>
      {% include "src/_includes/partials/_footer.njk" %}
    </div>
  </body>
</html>